.thumbnail-images {
  width: 90%;
}
.popup-content {
  background-color: #ffffff;
  width: 48%;
  height: 60%;
  border-radius: 5px;
  padding: 10px;
}
.close-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.trigger-button {
  background-color: transparent;
  border-width: 0px;
  cursor: pointer;
  outline: none;
}
.cross-symbol {
  width: 27px;
  height: 27px;
}
.video-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 93%;
  padding: 0px;
}
@media screen and (max-width: 567px) {
  .popup-content {
    width: 90%;
  }
}
